/* 自定义 Arco Design Slider 样式 */
.heightSlider :global(.arco-slider-rail) {
  background-color: #e0e0e0;
  height: 6px;
}

.heightSlider :global(.arco-slider-bar) {
  background-color: #7dd551;
  height: 6px;
}


